*{box-sizing: border-box;}



.display-block {
    display: block;
}

.no-display {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.skill {
    font-weight: 700;
}

.primary {
    color: #666;
}


.border-secondary {
    border: 1px solid #4a90e2;
    padding: 7px 14px;
    margin: 7px 14px 7px 0;
}

.border-primary {
    border: 1px solid #666;
    padding: 7px 14px;
}

.section-title {
    font-weight: 700;
    color: #48545b;
    padding: 14px 0;
    margin-bottom: 7px;
    font-size: 20px;
}

.section-subtitle {
    margin-bottom: 7px;
    color: #adadad;
    font-weight: 700;
}
#header-section {
    height: 80px;
}

#header-section img {
    margin: 21px 0 14px 0;
}

#body-wrapper {
    font-family: 'Roboto Condensed';
    color: #48545b;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    display: flex;
}

#left-section {
    flex: 2;
}

#right-section {
    flex: 1;
}

#top-left {
    background-color: #CDCDD2;
    padding: 63px 14px 0 14%;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    height: 430px;
}

#user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    line-height: 1.2;
    font-weight: 700;
}

#user-info header {
    font-size: 24px;
}

#title, #department {
    margin-bottom: 7px;
}

#title {
    color: #48545b;
}

#department {
    color: #212529;
}

#user-info footer {
    font-size: 20px;
    color: #212529;
    padding-bottom: 63px;
}

#location-section, #office {
    margin-bottom: 7px;
}

#office, #desk {
    margin-left: 21px;
    font-size: 14px;
}

#location-section {
    display: flex;
    align-items: center;
}

#location-pin {
    width: 16px;
    height: 24px;
    background-image: url("../assets/pin-icon.png");
    background-repeat: no-repeat;
    margin-right: 5px;
}

#full-name {
    color: #de411b;
    font-size: 42px;
    margin-bottom: 7px;
}

#user-img {
    background-image: url("../assets/man-avatar.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 320px;
    align-self: flex-end;
}

#top-right {
    padding: 0 14% 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#summary-container {
    height: 252px;
    margin-bottom: 49px;
    color: #48545b;
}

#summary-content {
    width: 260px;
    overflow: hidden;
    position: relative; 
    max-height: 100%; 
    text-align: justify;  
    margin-right: -1em;
    padding-right: 1em;
}

#summary-content:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

#summary-content:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
#duration {
    color: #48545b;
    font-weight: 700;
}

/* Middle-left */
#middle-left {
    background-color:#f6f6f6;
    padding-bottom: 42px;
}
#skills-section, #education-section {
    padding-left: 14%;
    flex: 2;        
}

#skills-section, #education-section  {
    padding-top: 42px;
}
#skills-section, #projects-section  {
    padding-top: 42px;
    padding-left: 14%;
}

#skills-content {
    display: flex;
}

#left-skills-content{
    flex: 3;
}

#skills-list span, #tools-list span {
    display: inline-block;
}

#techniques-list {
    flex: 1;
}

#certifications-list, #languages-section {
    margin-top: 21px;
}

#languages-list > div {
    margin-bottom: 14px;
}

.language {
    display: inline-block;
    width: 70px;
    font-size: 14px;
    font-weight: 700;
    color: #424d50;
}

.level {
    color: #adadad;
}

.level-border-primary {
    border: 1px solid #adadad;
    border-right: none;
    padding: 3px 7px;
}

.level-border-primary:last-child {
    border-right: 1px solid #adadad;
}

.level-border-secondary {
    border-top: 1px solid #4a90e2;
    border-bottom: 1px solid #4a90e2;
}

#experience {
    flex: 1;
}

#tools-list p {
    margin-top: 14px;
}


/* PROJECTS */
#projects-list {
    padding: 0 15px;
    color: #adadad;
    border-left: 1px solid #4a90e2;
}

.li-top, .project-info {
    display: flex;
    justify-content: space-between;
}

.project-info {
    padding-bottom: 14px;

}
.li-top-left {
    position: relative;
    padding-bottom: 7px;
}

.li-top-right {
    color: #4a90e2;
    font-weight: 700;
}

.square {
    width: 10px;
    height: 10px;
    background-color: #4a90e2;
    position: absolute;
    top: 0;
    left: -20px;
}
.li-bottom {
    margin-bottom: 28px;
}

#areas-of-experience {
    margin-top: 28px;
}

#expertise-list {
    display: flex;
    flex-direction: column;
}

#expertise-list span {
    align-self: flex-start;
    margin-bottom: 7px;
}

#domain-knowledge-list {
    margin-top: 28px;
}

.year-elem {
    color: #adadad;
    font-weight: 500;
}

.school-elem:not(:first-of-type) {
    margin-top: 14px;
}

.interest-item {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 7px;
}

.secondary {
    color: #4a90e2;
}