/* GENERAL STYLING */

* {
    box-sizing: border-box;
}

.display-block {
    display: block;
}

.no-display {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.skill {
    font-weight: 700;
}

.primary {
    color: #666;
}

.border-secondary {
    border: 1px solid #4a90e2;
    padding: 7px 14px;
    margin: 7px 14px 7px 0;
}

.border-primary-small {
    border: 1px solid #666;
    padding: 4px 7px;
    margin: 7px 14px 7px 0;
}

.border-primary {
    border: 1px solid #666;
    padding: 7px 14px;
}

.section-title {
    font-weight: 700;
    color: #48545b;
    padding: 14px 0;
    margin-bottom: 7px;
    font-size: 20px;
}

.section-subtitle {
    margin-bottom: 7px;
    color: #adadad;
    font-weight: 700;
}


/* HEADER */
#header-section {
    height: 80px;
}

#header-section img {
    margin: 21px 0 14px 0;
}


/* MAIN WRAPPER */
#body-wrapper {
    font-family: 'Roboto Condensed', sans-serif;
    color: #48545b;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
}

/* TOP SECTION */
#top-section, #middle-section {
    display: flex;
}


/* TOP LEFT */
#top-left {
    background-color: #CDCDD2;
    padding-top: 63px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}


#top-left, #middle-left {
    flex: 2;
    padding-left: 100px;
}

#top-left, #top-right {
    height: 430px;
}

#user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    line-height: 1.2;
    font-weight: 700;
}

#user-info header {
    font-size: 24px;
}

#title, #department {
    margin-bottom: 7px;
}

#title {
    color: #48545b;
}

#department {
    color: #212529;
}

#user-info footer {
    font-size: 20px;
    color: #212529;
    padding-bottom: 63px;
}

#location-section, #office {
    margin-bottom: 7px;
}

#office, #desk {
    margin-left: 21px;
    font-size: 14px;
}

#location-section {
    display: flex;
    align-items: center;
}

#location-pin {
    width: 16px;
    height: 24px;
    background-image: url("../assets/pin-icon.png");
    background-repeat: no-repeat;
    margin-right: 5px;
}

#full-name {
    color: #de411b;
    font-size: 42px;
    margin-bottom: 7px;
}

#user-img {
    background-image: url("../assets/man-avatar.png");
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 400px;
    min-height: 320px;
    align-self: flex-end;
    margin-right: 14px;
}

/* TOP RIGHT */
#top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-right, #middle-right {
    padding: 0 100px 28px 28px;
    flex: 1;
}

#summary-container {
    height: 252px;
    margin-bottom: 49px;
    color: #48545b;
}

#summary-container span {
    width: 260px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-height: 100%;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

#summary-container span:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

#summary-container span:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

#duration {
    color: #48545b;
    font-weight: 700;
}


#middle-section {
    display: flex;
}


/* MIDDLE LEFT */
#middle-left {
    background-color: #f6f6f6;
    padding-bottom: 42px;
}

#skills-section, #education-section, #projects-section {
    padding-top: 42px;
}


/* SKILLS */
#skills-content {
    display: flex;
}

#left-skills-content {
    flex: 3;
}

.display-inline {
    display: inline-block;
}

.margin-bottom {
    margin-bottom: 14px;
}


/* TOOLS */
#tools-list p {
    margin-top: 14px;
}


/* TECHNIQUES & METHODS */
#techniques-list {
    flex: 1;
    padding-right: 35px;
}


/* EDUCATION AND TRAININGS SECTION */
#certifications-list, #languages-list {
    margin-top: 21px;
}


/* EDUCATION */
.year-elem {
    color: #adadad;
    font-weight: 500;
}

.school-elem:not(:first-of-type) {
    margin-top: 14px;
}


/* LANGUAGES */
#languages-list > div, #languages-list > p {
    margin-bottom: 14px;
}

.language {
    display: inline-block;
    width: 70px;
    font-size: 14px;
    font-weight: 700;
    color: #424d50;
}

.level {
    color: #adadad;
}

.level-border-primary {
    border: 1px solid #adadad;
    border-right: none;
    padding: 3px 7px;
}

.level-border-primary:last-child {
    border-right: 1px solid #adadad;
}

.level-border-secondary {
    border-top: 1px solid #4a90e2;
    border-bottom: 1px solid #4a90e2;
}

.secondary {
    color: #4a90e2;
}


/* PROJECTS */
#projects-list {
    padding: 0 35px 0 15px;
    color: #adadad;
    border-left: 1px solid #4a90e2;
}

.li-top, .project-info {
    display: flex;
    justify-content: space-between;
}

.project-info {
    padding-bottom: 14px;
}

.project-name {
    color: #666;
}

.li-top-left {
    position: relative;
    color: #666;
    font-size: 18px;
    padding-bottom: 7px;
}

.li-top-right {
    color: #4a90e2;
    font-weight: 700;
}

.square {
    width: 10px;
    height: 10px;
    background-color: #4a90e2;
    position: absolute;
    top: 0;
    left: -20px;
}

.li-bottom {
    margin-bottom: 28px;
}


/* MIDDLE RIGHT */
/* EXPERIENCE SECTION */
#areas-of-experience, #interests-section, #domain-knowledge-list {
    margin-top: 28px;
}


/* EXPERTISE */
#expertise-list {
    display: flex;
    flex-direction: column;
}

#expertise-list span {
    align-self: flex-start;
    margin-bottom: 7px;
}


/* INTERESTS SECTION */
.interest-item {
    width: 50px;
    height: 50px;
    background-size: 100%;
    display: inline-block;
    margin: 0 14px 14px 0;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1439px) {
    /* TOP LEFT */
    #user-img {
        min-width: 380px;
        min-height: 300px;
    }

    .section-title {
        font-size: 18px;
    }

    #user-info header {
        font-size: 20px;
    }

    #full-name {
        font-size: 35px;
    }

    #user-info footer {
        font-size: 18px;
    }

    #top-left, #middle-left {
        padding-left: 50px;
    }

    #top-right, #middle-right {
        padding-right: 50px;
    }
}


@media screen and (max-width: 1199px) {
    /* TOP SECTION */
    #top-section {
        flex-direction: column;
    }

    /* TOP LEFT */
    #user-img {
        margin-right: 48px;
    }

    /* TOP RIGHT */
    #top-right, #middle-right {
        background-color: #f6f6f6;
        padding: 24px 48px;
    }

    /* SUMMARY SECTION */
    #summary-container {
        margin-bottom: 24px;
    }

    #summary-container span {
        width: 70%;
    }

    #summary-container span:after {
        background: #f6f6f6;
    }

    /* MIDDLE SECTION */
    #middle-section {
        flex-direction: column-reverse;
    }

    /* MIDDLE RIGHT */
    /* EXPERIENCE SECTION */
    #areas-of-experience {
        margin-top: 0;
    }

    /* INTERESTS SECTION */
    #interests-section {
        padding-top: 48px;
        margin: 0;
    }

    /* MIDDLE LEFT */
    #middle-left {
        padding: 24px 48px;
    }

    /* SKILLS */
    #skills-section {
        padding-top: 0;
    }

    /* EDUCATION AND TRAININGS */
    #education-section, #projects-section {
        padding-top: 48px;
    }
}


@media screen and (max-width: 899px) {
    /* TOP LEFT */
    #top-left {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 42px 0 0 0;
        height: 650px;
    }

    #user-info, #middle-left {
        padding-left: 48px;
    }

    #user-info header {
        font-size: 21px;
    }

    #full-name {
        font-size: 30px;
    }

    #user-info footer {
        padding-bottom: 42px;
        font-size: 18px;
    }

    #user-img {
        align-self: flex-start;
        margin: 0 48px 24px 48px;
    }

    /* CORE TECHNICAL SKILLS SECTION */
    /* SKILLS */
    #skills-content {
        flex-direction: column;
    }

    /* TECHNIQUES & METHODS */
    #techniques-list p {
        margin-top: 14px;
    }

    /* PROJECTS */
    #projects-list {
        padding-right: 0;
    }

    .li-top {
        flex-direction: column;
    }

    .project-info {
        flex-direction: column-reverse;
    }

    .li-top-right, .project-name {
        margin-bottom: 7px;
    }
}


@media screen and (max-width: 599px) {
    .section-title {
        padding: 7px 0;
    }

    /* TOP SECTION */
    /* TOP LEFT */
    #top-left {
        height: 550px;
    }

    #user-info, #middle-left {
        padding-left: 24px;
    }

    #user-img {
        min-width: 300px;
        min-height: 220px;
        align-self: center;
    }

    /* TOP RIGHT */
    #top-right, #middle-right {
        padding: 24px;
    }

    /* SUMMARY SECTION */
    #summary-container span {
        width: 100%;
    }

    /* MIDDLE LEFT */
    #middle-left {
        padding: 24px;
    }

    /* MIDDLE RIGHT */
    /* INTERESTS SECTION */
    .interest-item {
        width: 40px;
        height: 40px
    }
}
