@media screen and (max-width: 1439px) {
    /* TOP LEFT */
    #user-img-transparent {
        min-width: 380px;
        min-height: 300px;
    }

    .section-title {
        font-size: 18px;
    }

    #user-info header {
        font-size: 20px;
    }

    #full-name {
        font-size: 35px;
    }

    #user-info footer {
        font-size: 18px;
    }

    #top-left, #middle-left {
        padding-left: 50px;
    }

    #top-right, #middle-right {
        padding-right: 50px;
    }
}


@media screen and (max-width: 1199px) {
    /* TOP SECTION */
    #top-section {
        flex-direction: column;
    }


    /* TOP LEFT */
    #user-img-transparent, #img-container {
        margin-right: 48px;
    }


    /* TOP RIGHT */
    #top-right, #middle-right {
        background-color: #f6f6f6;
        padding: 24px 48px;
    }


    /* SUMMARY SECTION */
    #summary-container {
        margin-bottom: 24px;
    }

    #summary-container span {
        width: 70%;
    }

    #summary-container span:after {
        background: #f6f6f6;
    }


    /* MIDDLE SECTION */
    #middle-section {
        flex-direction: column-reverse;
    }


    /* MIDDLE RIGHT */
    /* EXPERIENCE SECTION */
    #areas-of-experience {
        margin-top: 0;
    }


    /* INTERESTS SECTION */
    #interests-section {
        padding-top: 48px;
        margin: 0;
    }


    /* MIDDLE LEFT */
    #middle-left {
        padding: 24px 48px;
    }


    /* SKILLS */
    #skills-section {
        padding-top: 0;
    }


    /* EDUCATION AND TRAININGS */
    #education-section, #projects-section {
        padding-top: 48px;
    }
}


@media screen and (max-width: 899px) {
    /* TOP LEFT */
    #top-left {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 42px 0 0 0;
        height: 650px;
    }

    #user-info, #middle-left {
        padding-left: 48px;
    }

    #user-info header {
        font-size: 21px;
    }

    #full-name {
        font-size: 30px;
    }

    #user-info footer {
        padding-bottom: 42px;
        font-size: 18px;
    }

    #user-img-transparent, #img-container {
        align-self: flex-start;
        margin: 0 48px 24px 48px;
    }


    /* CORE TECHNICAL SKILLS SECTION */
    /* SKILLS */
    #skills-content {
        flex-direction: column;
    }


    /* TECHNIQUES & METHODS */
    #techniques-list p {
        margin-top: 14px;
    }


    /* PROJECTS */
    #projects-list {
        padding-right: 0;
    }

    .li-top {
        flex-direction: column;
    }

    .project-info {
        flex-direction: column-reverse;
    }

    .li-top-right, .project-name {
        margin-bottom: 7px;
    }
}


@media screen and (max-width: 599px) {
    .section-title {
        padding: 7px 0;
    }


    /* TOP SECTION */
    /* TOP LEFT */
    #top-left {
        height: 550px;
    }

    #user-info, #middle-left {
        padding-left: 24px;
    }

    #user-img-transparent {
        min-width: 300px;
        min-height: 220px;
        align-self: center;
    }

    #img-container {
        min-width: 270px;
        min-height: 270px;
        border-width: 10px;
    }

    #user-img {
        min-width: 240px;
        min-height: 240px;
    }


    /* TOP RIGHT */
    #top-right, #middle-right {
        padding: 24px;
    }


    /* SUMMARY SECTION */
    #summary-container span {
        width: 100%;
    }


    /* MIDDLE LEFT */
    #middle-left {
        padding: 24px;
    }


    /* MIDDLE RIGHT */
    /* INTERESTS SECTION */
    .interest-item {
        width: 40px;
        height: 40px
    }
}
